[submodule "hardware/keyboardio/avr"]
	path = hardware/keyboardio/avr
	url = https://github.com/keyboardio/Arduino-Boards
[submodule "lib/KeyboardioFirmware"]
	path = lib/KeyboardioFirmware
	url = https://github.com/keyboardio/KeyboardioFirmware
[submodule "lib/FingerprintUSBHost"]
	path = lib/FingerprintUSBHost
	url = https://github.com/keyboardio/FingerprintUSBHost.git
[submodule "Akela-Colormap"]
	path = lib/Akela-Colormap
	url = https://github.com/keyboardio/Akela-Colormap
[submodule "Akela-Core"]
	path = lib/Akela-Core
	url = https://github.com/keyboardio/Akela-Core
[submodule "Akela-Cycle"]
	path = lib/Akela-Cycle
	url = https://github.com/keyboardio/Akela-Cycle
[submodule "Akela-DualUse"]
	path = lib/Akela-DualUse
	url = https://github.com/keyboardio/Akela-DualUse
[submodule "Akela-Heatmap"]
	path = lib/Akela-Heatmap
	url = https://github.com/keyboardio/Akela-Heatmap
[submodule "Akela-HostOS"]
	path = lib/Akela-HostOS
	url = https://github.com/keyboardio/Akela-HostOS
[submodule "Akela-IgnoranceIsBliss"]
	path = lib/Akela-IgnoranceIsBliss
	url = https://github.com/keyboardio/Akela-IgnoranceIsBliss
[submodule "Akela-KeyLogger"]
	path = lib/Akela-KeyLogger
	url = https://github.com/keyboardio/Akela-KeyLogger
[submodule "Akela-Leader"]
	path = lib/Akela-Leader
	url = https://github.com/keyboardio/Akela-Leader
[submodule "Akela-LEDEffects"]
	path = lib/Akela-LEDEffects
	url = https://github.com/keyboardio/Akela-LEDEffects
[submodule "Akela-MagicCombo"]
	path = lib/Akela-MagicCombo
	url = https://github.com/keyboardio/Akela-MagicCombo
[submodule "Akela-OneShot"]
	path = lib/Akela-OneShot
	url = https://github.com/keyboardio/Akela-OneShot
[submodule "Akela-ShapeShifter"]
	path = lib/Akela-ShapeShifter
	url = https://github.com/keyboardio/Akela-ShapeShifter
[submodule "Akela-SpaceCadet"]
	path = lib/Akela-SpaceCadet
	url = https://github.com/keyboardio/Akela-SpaceCadet
[submodule "Akela-TapDance"]
	path = lib/Akela-TapDance
	url = https://github.com/keyboardio/Akela-TapDance
[submodule "Akela-TopsyTurvy"]
	path = lib/Akela-TopsyTurvy
	url = https://github.com/keyboardio/Akela-TopsyTurvy
[submodule "Akela-Unicode"]
	path = lib/Akela-Unicode
	url = https://github.com/keyboardio/Akela-Unicode
[submodule "lib/Akela-LED-Stalker"]
	path = lib/Akela-LED-Stalker
	url = https://github.com/keyboardio/Akela-LED-Stalker
[submodule "lib/Akela-LED-ActiveModColor"]
	path = lib/Akela-LED-ActiveModColor
	url = https://github.com/keyboardio/Akela-LED-ActiveModColor
[submodule "lib/Akela-Escape-OneShot"]
	path = lib/Akela-Escape-OneShot
	url = https://github.com/keyboardio/Akela-Escape-OneShot
