[submodule "hardware/keyboardio/avr"]
	path = hardware/keyboardio/avr
	url = https://github.com/keyboardio/Arduino-Boards
[submodule "lib/KeyboardioFirmware"]
	path = lib/KeyboardioFirmware
	url = https://github.com/algernon/KeyboardioFirmware
[submodule "lib/FingerprintUSBHost"]
	path = lib/FingerprintUSBHost
	url = https://github.com/keyboardio/FingerprintUSBHost.git
